<ng-template cxOutletRef="UpSelling" cxOutletPos="before">
  <ng-container *ngIf="{ images: shotWithImages$ | async, currentProduct: currentProduct$ | async } as shotWithData">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 *ngIf="shotWithData.currentProduct">Images Shot with the {{shotWithData.currentProduct.name}}</h1>
        </div>
        <div class="col-4 mb-5" *ngFor="let image of shotWithData.images">
          <img src="{{image.src}}"/>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
