$skipComponentStyles: (cx-searchbox);

cx-searchbox {
  z-index: 10;
  display: block;

  @media (min-width: 768px) {
    position: relative;
  }

  > * {
    z-index: 20;

    @media (min-width: 768px) {
      background: rgb(61, 62, 62);
      position: relative;
    }
  }

  label {
    display: flex;
    align-content: stretch;
    margin: 0;
    padding: 6px 0;
    padding-inline: 6px 10px;

    @media (min-width: 768px) {
      width: 27vw;
      min-width: 300px;
    }

    &:not(.dirty) {
      cx-icon.reset {
        display: none;
      }
    }

    cx-icon {
      color: currentColor;
      flex-basis: 48px;
      text-align: center;
      cursor: pointer;
    }

    input {
      background: none;
      border: none;
      outline: none;
      display: block;
      flex-basis: 100%;
      height: 35px;
      color: currentColor;
      z-index: 20;

    }
  }
}
